h1
  | Building Sessions

p
  |
    We are always searching new possibilities with our multi modular system,
    but also with the general Open Source and cooperative mind set.
    Since June 2016 we are regulatory having building sessions for new modules and systems.
    Instead of doing it all ourselves we like to have multiple teams working together on it,
    creating and using what already exist to build new modules. We use therefor the community
    tool
  = " "
  a href="https://www.wevolver.com/yannick.schandene/velo-m2-open-space-capsules-for-cargo-bikes/main/description/" target="_blank"
    | WeVolver
  = " "
  |
    to work on different modules. In June, July and August of 2016 we will be
    building a lot of new modules. So if you are living around Brussels and want
    to join the network, give us a sign!
