h1
  |
    Co-creation?

p
  |
    You not only want to become a user, but also want to create your own modules, design new
    functionalities, invest in a module or work on the energy system? Then this part is for all the makers
    and investors like you!

p
  strong
    | How?
    = " "
  |
    Send us a mail to info@velom2.be with your idea and/or interest in becoming a co-creator and 
    we will send you all further needed information.

p
  strong
    | What does the Maker do?
    = " "
  | A maker is somebody that helps build, design or technically advance an
    existing or new module.  When the open source module finds his way to the Vélo M² library the
    maker becomes immediately a part of the FairShare system: a way to distribute the benefits in an
    equal way to all participants of the community.

p
  |
    Example: Tom is working on a Phd as an engineer in Energy and Batteries and helped us out on
    building the first electricity generation system. He became a maker and has a part ownership on that
    build where trough he can follow up everything that happens with the battery and gets a small
    remuneration calculated through fairshare each time the battery module is used.

p
  strong
    | Want to be an investor?
    = " "
  |
    You have an idea or proposal, some budget but not the tools and the skill
    to build your own? No problem, you can have a meeting with us and we can find the right makers to
    build the module of your dream. Price will be lower when the module is free of use and open sourced
    to the whole community (with needed restriction if applicable).

p
  |
    Example: Het Punt is a volunteer organization that wanted a mobile helpdesk with a small battery
    system. We set around the table, found the right designer (Sigried Kellens) and two engineers of our
    team (Milena  and Florent) and build the helpdesk module that is accessible through our lending
    system to anybody else. Part of the benefits goes back to the investors till 1,5 time his/her
    investment.

p
  strong
    | What does it cost to rent as a co-creator?
    = " "
  |
    Your own module and the bike can be rent free for a
    maximum number (using the module and bike 365/year isn’t the aim for an open hardare
    community). All other modules can be rented like a partner

p
  strong
    | How does the Fairshare system work, and do I get something out of my creation?
    = " "
  |
    At the center of the fairshare system are our 4 entities: Makers, Investors,
    Platform (the whole community through co-budget wallet) and Coreteam.
    When a financial deal is made (lending a module for example) each of the four entities
    will get ¼ of the benefits. In each of those entities every concerned person in that part
    again divides the benefits. For a more detailed and technical approach you can click here.
    So definitely yes, if your module is used in any way you will get a part of the benefit,
    in the form of virtual co-budget money to reinvest in the community and in real money.
