h1
  | Community Vélo m²

p
  |
    A short guide to the different ways you can interact with the Vélo M² Community, from lending a
    bike and module, using our modules on the long-term to making your own modules and getting
    something out of it through our FairShare model. This text is still inherent to future changes cause it
    is a totally open source model ;-)

p
  |
    You can become a part of the Vélo M2 community in many ways

ul.list-unstyled
  li
    |
      RENTING out our materials
  li
    |
      PARTNERSHIP can be sorted out
  li
    |
      CO-CREATE an own module with our help
  li
    |
      CORETEAM, become a permanent member

p
  |
    All our profits are distributed through the open source model: FAIRSHARE. A model where we try to
    remunerate every person concerned. Investing in the community is making it stronger on a short and
    long term!
