h1
  | Generation

p
  |
    After battling the battery module we started building the generation part.
    We want to generate at least enough energy to power a 3D printing. This system will
    make it possible to go anywhere and show how energy creation really works. The generation
    was made possible to show at Festival de La Terre and will now be used when showcasing
    our system. On the long term we hope to develop a system where multiple bikes could power
    even an open air cinema, all transported on our bike of course.
